{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<div class="container center-content">
    
    <div class="formstuff bg-light">
        <h1 class="h1 text-center">Contact Us</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div class="invalid-feedback">
                form.errors
            </div>
            {% endif %} 
            <div class="form-group">
                <label>
                    Name
                </label>
                {{form.name}}
                
            </div>
            <div class="form-group">
                <label>
                    Message
                </label>
                {{form.message}}
                
            </div>
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    </div>

</div>
{% endblock %}