{% extends "admin/base_site.html" %}
{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>

{% endblock%}
{% block content%}
<form  method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Search">

</form>
{%if labels and values%}
<canvas id="myChart" width="900" height="400"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx,{
        type:'bar',
        data:{
            labels: {{labels|safe}},
            datasets:[{
                label: "No of Purchases",
                backgroundColor: "blue",
                data:{{values|safe}},
                borderColor:'green',
                borderWidth: 2,
            }]
        },
        options:{
            responsive:false,
            scales:{
                yAxes:[
                    {
                        ticks:{
                            beginAtZero:true,
                        }
                    }
                ]
            }
        }
    });
</script>
{% endif %}

{% endblock%} 